---

---

<header class="header">
	<nav>Header / Nav</nav>
</header>

<style>
	.header {
		background-color: rgba(60, 60, 60, 0.9);
		color: white;
		padding: 1rem 2rem;
		text-align: center;
	}
</style>
