---
import heroBg from '../../assets/images/02-hero/hero-bg.png';
import logoImg from '../../assets/images/02-hero/la-wc26-fanzone-dtb.png';
import heroPhoto from '../../assets/images/02-hero/hero.jpg';
---
<div class="buffer">
</div>
<section class="hero" style={`background-image: url(${heroBg.src});`}>
	<div class="hero__inner">
		<div class="hero__left">
			<img src={logoImg.src} alt="Los Angeles World Cup 26 Fan Zone at Downtown Burbank" class="hero__logo" width="620" />
			<p class="hero__dates">July 18 &amp; 19</p>
		</div>
		<div class="hero__right">
			<img src={heroPhoto.src} alt="Downtown Burbank street fair crowd on Olive Avenue" class="hero__photo" width="570" />
		</div>
	</div>
</section>

<style>
	.buffer {
		height: 90px;
		background-color: var(--color-coral);
	}
	.hero {
		background-color: #FF5252;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 3rem 2rem;
	}

	.hero__inner {
		max-width: 1250px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding: 2rem 0 1rem;
	}

	.hero__left {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hero__logo {
		width: 100%;
		max-width: 620px;
		height: auto;
	}

	.hero__dates {
		color: white;
		font-family: var(--font-family);
		font-size: 40px;
		font-weight: 700;
		margin-top: 1rem;
		padding-left: 0.25em;
	}

	.hero__right {
		flex-shrink: 0;
		width: 570px;
	}

	.hero__photo {
		width: 100%;
		height: auto;
		border-radius: 30px;
	}

	/* Responsive */
	@media (max-width: 960px) {
		.hero__inner {
			flex-direction: column;
			text-align: center;
		}

		.hero__left {
			align-items: center;
		}

		.hero__right {
			width: 100%;
			max-width: 570px;
		}

		.hero__dates {
			font-size: 28px;
			padding-left: 0;
		}
	}
</style>
