---

---

<section class="countdown">
	<h2>The Countdown to the Fan Zone Begins</h2>
	<p>Countdown timer</p>
</section>

<style>
	.countdown {
		background-color: #F9EFE8;
		padding: 4rem 2rem;
		text-align: center;
	}
</style>
