---
import photo from '../../assets/images/06-vip-ticket/bottles-of-wine.jpg';
---

<section class="vip">
	<div class="vip__inner">
		<div class="vip__image">
			<img src={photo.src} alt="Bottles of wine on ice at a VIP event" width="500" />
		</div>
		<div class="vip__content">
			<h2 class="vip__heading">Level Up Your Match Day with Our VIP Ticket</h2>
			<ul class="vip__list">
				<li>
					<svg class="vip__check" width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.7713 0.7257C35.4102 0.1264 34.7143-0.1342 34.0446 0.0677 27.2035 2.1655 19.0559 12.8433 11.2432 23.8078 7.9277 18.2637 4.4152 16.4135 0.7846 18.3092 0.3316 18.5504 0.0427 18.9868 0.0034 19.495-0.0295 20.0097 0.1937 20.4918 0.6139 20.7979 3.2466 22.7067 5.9778 26.088 9.2276 31.4431 9.8185 32.4203 10.8493 33.0002 11.9982 33.0002H12.0507C13.2325 32.9806 14.283 32.3617 14.8607 31.3389 18.3797 25.0847 21.8331 19.6056 25.2602 14.8368 28.6938 10.068 32.1078 6.0093 35.5481 2.589 36.0536 2.0874 36.1455 1.3381 35.7713 0.7257Z" fill="#F15B5B"/></svg>
					Premium viewing areas
				</li>
				<li>
					<svg class="vip__check" width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.7713 0.7257C35.4102 0.1264 34.7143-0.1342 34.0446 0.0677 27.2035 2.1655 19.0559 12.8433 11.2432 23.8078 7.9277 18.2637 4.4152 16.4135 0.7846 18.3092 0.3316 18.5504 0.0427 18.9868 0.0034 19.495-0.0295 20.0097 0.1937 20.4918 0.6139 20.7979 3.2466 22.7067 5.9778 26.088 9.2276 31.4431 9.8185 32.4203 10.8493 33.0002 11.9982 33.0002H12.0507C13.2325 32.9806 14.283 32.3617 14.8607 31.3389 18.3797 25.0847 21.8331 19.6056 25.2602 14.8368 28.6938 10.068 32.1078 6.0093 35.5481 2.589 36.0536 2.0874 36.1455 1.3381 35.7713 0.7257Z" fill="#F15B5B"/></svg>
					Comfortable lounge seating
				</li>
				<li>
					<svg class="vip__check" width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.7713 0.7257C35.4102 0.1264 34.7143-0.1342 34.0446 0.0677 27.2035 2.1655 19.0559 12.8433 11.2432 23.8078 7.9277 18.2637 4.4152 16.4135 0.7846 18.3092 0.3316 18.5504 0.0427 18.9868 0.0034 19.495-0.0295 20.0097 0.1937 20.4918 0.6139 20.7979 3.2466 22.7067 5.9778 26.088 9.2276 31.4431 9.8185 32.4203 10.8493 33.0002 11.9982 33.0002H12.0507C13.2325 32.9806 14.283 32.3617 14.8607 31.3389 18.3797 25.0847 21.8331 19.6056 25.2602 14.8368 28.6938 10.068 32.1078 6.0093 35.5481 2.589 36.0536 2.0874 36.1455 1.3381 35.7713 0.7257Z" fill="#F15B5B"/></svg>
					Dedicated food &amp; beverage service
				</li>
				<li>
					<svg class="vip__check" width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.7713 0.7257C35.4102 0.1264 34.7143-0.1342 34.0446 0.0677 27.2035 2.1655 19.0559 12.8433 11.2432 23.8078 7.9277 18.2637 4.4152 16.4135 0.7846 18.3092 0.3316 18.5504 0.0427 18.9868 0.0034 19.495-0.0295 20.0097 0.1937 20.4918 0.6139 20.7979 3.2466 22.7067 5.9778 26.088 9.2276 31.4431 9.8185 32.4203 10.8493 33.0002 11.9982 33.0002H12.0507C13.2325 32.9806 14.283 32.3617 14.8607 31.3389 18.3797 25.0847 21.8331 19.6056 25.2602 14.8368 28.6938 10.068 32.1078 6.0093 35.5481 2.589 36.0536 2.0874 36.1455 1.3381 35.7713 0.7257Z" fill="#F15B5B"/></svg>
					Exclusive hospitality access
				</li>
				<li>
					<svg class="vip__check" width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.7713 0.7257C35.4102 0.1264 34.7143-0.1342 34.0446 0.0677 27.2035 2.1655 19.0559 12.8433 11.2432 23.8078 7.9277 18.2637 4.4152 16.4135 0.7846 18.3092 0.3316 18.5504 0.0427 18.9868 0.0034 19.495-0.0295 20.0097 0.1937 20.4918 0.6139 20.7979 3.2466 22.7067 5.9778 26.088 9.2276 31.4431 9.8185 32.4203 10.8493 33.0002 11.9982 33.0002H12.0507C13.2325 32.9806 14.283 32.3617 14.8607 31.3389 18.3797 25.0847 21.8331 19.6056 25.2602 14.8368 28.6938 10.068 32.1078 6.0093 35.5481 2.589 36.0536 2.0874 36.1455 1.3381 35.7713 0.7257Z" fill="#F15B5B"/></svg>
					Elevated culinary and wine pairings
				</li>
			</ul>
		</div>
	</div>
</section>

<style>
	.vip {
		background-color: var(--color-cream);
		padding: 5rem 2rem;
	}

	.vip__inner {
		max-width: 1150px;
		margin: 0 auto;
		display: flex;
		align-items: start;
		/* justify-content: space-between; */
		gap: clamp(2rem, 5vw, 4rem);
	}

	.vip__image {
		flex-shrink: 0;
	}

	.vip__image img {
		width: 100%;
		height: auto;
		border-radius: 16px;
		max-width: 450px;
	}

	.vip__heading {
		font-size: clamp(2rem, 4vw, 45px);
		font-weight: 700;
		text-transform: uppercase;
		color: var(--color-blue);
		line-height: normal;
		margin-bottom: 1rem;
	}

	.vip__list {
		list-style: none;
		padding: 0;
	}

	.vip__list li {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 18px;
		font-weight: 700;
		color: var(--color-dark);
		padding: 0.6em 0;
	}

	.vip__list li:last-child {
		border-bottom: none;
	}

	.vip__check {
		flex-shrink: 0;
		width: 28px;
		height: auto;
	}

	@media (max-width: 768px) {
		.vip__inner {
			flex-direction: column;
		}

		.vip__image {
			width: 100%;
			max-width: 500px;
		}
	}
</style>
