---

---

<section class="getting-here">
	<h2>Getting Here is Easy</h2>
	<p>Transportation options</p>
</section>

<style>
	.getting-here {
		background-color: #EDAE47;
		color: white;
		padding: 4rem 2rem;
		text-align: center;
	}
</style>
