---

---

<section class="be-part">
	<h2>Be a Part of the Action!</h2>
	<p>Social media + This is Our Moment</p>
</section>

<style>
	.be-part {
		background-color: #5C8ECA;
		color: white;
		padding: 4rem 2rem;
		text-align: center;
	}
</style>
