---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FanZone | DTN BUR</title>
	</head>
	<body>
		<main>
			<img src="/logo/dtnbur_logo.png" alt="DTN BUR logo" />
		</main>
	</body>
</html>

<style>
	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: #3C3C3C;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	img {
		max-width: 400px;
		width: 80%;
	}
</style>
